<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/design/css/main.css" />
    <title>LILAC</title>
  </head>
  <body>
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="#">LILAC</a> by 4 TEAM</h1>
        <nav id="nav">
          <ul>
            <li><input type='button'onclick='loginpage()'value='login' /></li>
          </ul>
        </nav>
      </header>

      <!-- Banner -->
      <section id="banner">
        <h2>LILAC</h2>
        <p>당신의 삶을 기록하세요</p>
        <ul class="actions special">
          <li>
            <li>
<input 
  class='button primary'    
  type='button'
  onclick='newPage()'
  value='회원가입' />
          </li>
          </li>
          <li><a href="#" class="button" onclick="alertlogin()">유언장 작성</a></li>
        </ul>
      </section>

      <!-- Main -->
      <section id="main" class="container">
        <section class="box special">
          <header class="major">
            <h2>
              어떤 삶을 살아오셨나요.
              <br />
              사랑하는 이들에게 알려주세요
            </h2>
            <p>
             당신이 기록한 문서는 철저히 암호화되어 보관됩니다.
              <br />
              원치 않은 이들이 조회하는것을 방어합니다.
            </p>
          </header>
          <span class="image featured"
            ><img src="design/images/pic01.jpg" alt=""
          /></span>
        </section>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <script src="/design/js/jquery.min.js"></script>
    <script src="/design/js/jquery.dropotron.min.js"></script>
    <script src="/design/js/jquery.scrollex.min.js"></script>
    <script src="/design/js/browser.min.js"></script>
    <script src="/design/js/breakpoints.min.js"></script>
    <script src="/design/js/util.js"></script>
    <script src="/design/js/main.js"></script>
    <script src="/js/home/href.js"></script>
  </body>
</html>
